<%= form_for(@customer) do |f| %>
<% if @customer.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this form from being saved:</h2>
     <ul>
     <% @user.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

 <div>
   <%= f.label :Name %><br />
   <%= f.text_field :name %>
 </div>

 <div>
   <%= f.submit "create" %>
 </div>

<% end %>
