<h1>Doctors#index</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>zip</th>
      <th>School</th>
      <th>Years of Practice</th>
    </tr>
  </thead>
  <% @doctors.each do |doctor| %>
    <tr>
      <td>
        <%= doctor.name %>
      </td>
      <td>
        <%= doctor.profile.address %>
      </td>
      <td>
        <%= doctor.profile.city %>
      </td>
      <td>
        <%= doctor.profile.zip %>
      </td>
      <td>
        <%= doctor.profile.school %>
      </td>
      <td>
        <%= doctor.profile.yop %>
      </td>

    </tr>
  <% end %>
</table>
